{% extends "read_only_site/base.html" %}
{% block content %}
<h2>Latest Matches</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Player 1 (Discord/jstris)</th>
            <th>Player 2 (Discord/jstris)</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for match in matches %}
        <tr>
            <td><a href="{% url 'read_only_site:player' match.player_1.jstris_handle %}">{{match.player_1.complete_nick}}</a></td>
            <td><a href="{% url 'read_only_site:player' match.player_2.jstris_handle %}">{{match.player_2.complete_nick}}</a></td>
            <td>{{match.played_on}}</td>
            <td><a href="{% url 'read_only_site:match' match.pk %}">Match details</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}
