{% extends "read_only_site/base.html" %}
{% block content %}
<h2>Leaderboard</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Rank</th>
            <th>Discord Name</th>
            <th>jstris Name</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
{% for player in players %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'read_only_site:player' player.jstris_handle %}">
            {{ player.discord_nickname }}</a></td>
            <td><a href="https://jstris.jezevec10.com/u/{{ player.jstris_handle }}">
            {{ player.jstris_handle }}</a></td>
            <td>{{player.trueskill_mu | floatformat:"0"}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}
