{% extends "read_only_site/base.html" %}
{% block content %}
<h2>{{match.player_1.discord_handle}} VS {{match.player_2.discord_handle}}</h2>

<h3>Winner: {{match.winner.discord_handle}} ({{match.winner.discord_handle}})</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{match.player_1.discord_handle}}</h4>
          <div class="container-fluid">
            <div class="row">
              <div class="col large-text">Old skill:</div>
              <div class="col large-text">
                {{match.player_1_trueskill_mu_before_match| floatformat:"0"}}
              </div>
            </div>
            <div class="row">
              <div class="col large-text">New skill:</div>
              <div class="col large-text">
                {{match.player_1_trueskill_mu_after_match| floatformat:"0"}}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{match.player_2.discord_handle}}</h4>
          <div class="container-fluid">
            <div class="row">
              <div class="col large-text">Old skill:</div>
              <div class="col large-text">
                {{match.player_2_trueskill_mu_before_match| floatformat:"0"}}
              </div>
            </div>
            <div class="row">
              <div class="col large-text">New skill:</div>
              <div class="col large-text">
                {{match.player_2_trueskill_mu_after_match| floatformat:"0"}}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
