{% extends "read_only_site/base.html" %}
{% block content %}
<h2>{{match.player_1.discord_nickname}} VS {{match.player_2.discord_nickname}}</h2>

<br><br>

<h3>Winner: {{match.winner}}</h3>

<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">
          <a href="{% url 'read_only_site:player' match.player_1.jstris_handle %}">{{match.player_1}}</a>
        </h4>
          <div class="container-fluid">
            <div class="row">
              <div class="col large-text">Old rank:</div>
              <div class="col large-text">
                {{match.player_1_trueskill_mu_before_match| floatformat:"0"}}
              </div>
            </div>
            <div class="row">
              <div class="col large-text">New rank:</div>
              <div class="col large-text">
                {{match.player_1_trueskill_mu_after_match| floatformat:"0"}}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
          <a href="{% url 'read_only_site:player' match.player_2.jstris_handle %}">{{match.player_2}}</a>
        </h4>
          <div class="container-fluid">
            <div class="row">
              <div class="col large-text">Old rank:</div>
              <div class="col large-text">
                {{match.player_2_trueskill_mu_before_match| floatformat:"0"}}
              </div>
            </div>
            <div class="row">
              <div class="col large-text">New rank:</div>
              <div class="col large-text">
                {{match.player_2_trueskill_mu_after_match| floatformat:"0"}}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
